.layout-center-box{
    position: relative;
    width: 100%;
    flex: 1; 
    border-right: 1px solid #e4e7e7;
    background-color: white;
    min-width: 0; /*It still temping*/
}



.titleApp{
    position: relative;
    height: calc(100% - 10px);
    margin: 5px;
    width: auto;
    border-radius: 7px;
    cursor: pointer;
    margin-right: auto;
    display: flex;

    flex-wrap: nowrap;
    overflow: hidden;
}
.titleApp:hover{
    background-color: rgba(122, 122, 122, 0.093);
}

.titleApp svg{
    margin: 0px;
    width: 40px;
    height: 40px;
    float: left;
}
.titleApp svg circle{
    fill: black;
}

.title-titleApp{
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    width: calc(100% - 50px);
}

.title-titleApp p:first-child{
    font-size: 1em;
    margin-top: 3px;
    font-weight: bold;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}
.title-titleApp span:last-child{
    float: left;
    font-size: 0.75em;
    margin-top: 3px;
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgb(126, 126, 126);
    font-weight: bold;
}



.contain-app{
    position: relative;
    float: left;
    width: 100%;
    /* background-color: cadetblue; */
    height: calc(100% - 50px);
    margin-top: 50px;
    overflow: auto;
    overflow-anchor: auto;
    scroll-behavior: auto;
}

.full-contain-app{
    height: calc(100%) !important;
    margin-top: 0px !important;
}



/* Styles for desktop and laptop browsers */
.desktop-contain-app::-webkit-scrollbar {
    width: 7px !important; /* Width of the scrollbar */
}
.desktop-contain-app::-webkit-scrollbar-track {
    background-color: transparent; /* Color of the track */
} 
.desktop-contain-app::-webkit-scrollbar-thumb {
    background-color: #ededed;
    border-radius: 5px; /* Rounded corners of the handle */
}