
@media (max-width: 590px) {
    .contain-list-word{
        width: calc(100% - 3px) !important;
    }
    .item-list-word span:nth-child(1){
        width: 40px !important;
    }
    .item-list-word span:nth-child(2){
        width: 120px !important;
    }
    .item-list-word span:nth-child(2), .item-list-word span:last-child{
        font-size: 1em !important;
    }
    .item-list-word span:nth-child(3), .item-list-word span:nth-child(1){
        font-size: 0.77em !important;
    }
    .title-list-word{
        margin-left: 10px !important;
    }
}


@media (min-width: 500px) and (max-width: 590px) {
    .contain-list-word{
        width: calc(100% - 18px) !important;
    }
}


@media (min-width: 591px) and (max-width: 1023px) {
    .contain-list-word{
        width: calc(570px) !important;
    }
    .item-list-word span:nth-child(1){
        width: 45px !important;
    }
    .item-list-word span:nth-child(2){
        width: 180px !important;
    }
    .item-list-word span:nth-child(2), .item-list-word span:last-child{
        font-size: 1.19em !important;
    }
    .item-list-word span:nth-child(3), .item-list-word span:nth-child(1){
        font-size: 0.85em !important;
    }
}

@media (min-width: 1024px) {
    .contain-list-word{
        width: calc(670px) !important;
    }
}
