/* Extra Small Devices (phones) */
@media only screen and (max-width: 480px) {
    .nav-bar{
        width: 100%;
    }
    .wrap-item{
        display: none;
    }

    .wrap-logo{
        margin-left: 10px;
    }
    .mark-search, .wrap-login-btn{
        margin-right: 10px;
    }

    .search-wall{
        width: calc(100%);
    }
    .wrap-search{
        width: calc(100% - 20px) !important;
        padding: 10px 10px !important;
        top: 0% !important;
        margin: 0 !important;
        transform: translateY(0%) !important;
        border-bottom: 1pt solid rgb(219, 219, 219) !important;
        border-top: 1px solid  rgb(219, 219, 219) !important;
    }
    .content[dark-mode="false"] .wrap-search{
        border-bottom: 1pt solid rgb(211, 211, 211);
        border-top: 1px solid rgb(211, 211, 211);
    }  
}

/* Small Devices (tablets) */
@media only screen and (min-width: 481px) and (max-width: 768px) {
    .nav-bar{
        width: 100%;
    }
    .wrap-item{
        display: none;
    }

    .wrap-logo{
        margin-left: 10px;
    }
    .mark-search, .wrap-login-btn{
        margin-right: 10px;
    }

    .search-wall{
        width: calc(100%);
    }
    .wrap-search{
        width: calc(100% - 20px) !important;
        padding: 10px 10px !important;
        top: 0% !important;
        margin: 0 !important;
        transform: translateY(0%) !important;
        border-bottom: 1pt solid rgb(219, 219, 219) !important;
        border-top: 1px solid rgb(219, 219, 219) !important;
    }
    .content[dark-mode="false"] .wrap-search{
        border-bottom: 1pt solid rgb(211, 211, 211);
        border-top: 1px solid rgb(211, 211, 211);
    }    
}

/* Medium Devices (small laptops) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .nav-bar{
        width: calc(100% - 20px) !important;
    }
    .mark-item, .mark-search{
        display: none;
    }

    .wrap-search{
        width: 300px;
        margin-top: 0px;
        margin-right: 10px;
        background-color: transparent;
    }
    .search-wall{
        margin: 0;
        width: 100%;
    }

    .fr-content{
        width: 750px;
    }
}

/* Large Devices (desktops) */
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
    .nav-bar{
        width: calc(100% - 30px) !important;
    }
    .mark-item, .mark-search{
        display: none;
    }

    .wrap-search{
        width: 400px;
        margin-top: 0px;
        margin-right: 10px;
        background-color: transparent;
    }
    .search-wall{
        margin: 0;
        width: 100%;
    }

    .fr-content{
        width: calc(100% - 240px);
    }
}

/* Extra Large Devices (large desktops) */
@media only screen and (min-width: 1441px) {
    .nav-bar{
        width: calc(100% - 40px) !important;
    }
    .mark-item, .mark-search{
        display: none;
    }

    .wrap-search{
        width: 450px;
        margin-top: 0px;
        margin-right: 10px;
        background-color: transparent;
    }
    .search-wall{
        margin: 0;
        width: 100%;
    }

    .fr-content{
        width: 1200px;
    }
}