/* Styles for screens smaller than 480px (Extra Small) */
@media (max-width: 479px) {
    .item-suggested-video{
        height: 145px;
    }
}

/* Styles for screens between 481px and 767px (Small) */
@media (min-width: 480px) and (max-width: 767px) {
    .item-suggested-video{
        height: 180px;
    }
}

/* Styles for screens between 768px and 1023px (Medium) */
@media (min-width: 768px) and (max-width: 1023px) {
    .item-suggested-video{
        height: 190px;
    }
}

/* Styles for screens between 1024px and 1279px (Large) */
@media (min-width: 1024px) and (max-width: 1279px) {
    .item-suggested-video{
        height: 230px;
    }
}

/* Styles for screens between 1280px and 1919px (Extra Large) */
@media (min-width: 1280px) {
    .item-suggested-video{
        height: 290px;
    }
}
