#my-player-container{
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
}

#my-player-container video{
    display: inline-block;
    width: 100%;
    height: 100%;
}


#my-player{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 4;
    display: flex;
    flex-direction: column;
}


#b-play{
    width: 100%;
    height: calc(100% - 40px);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#b-play-btn{
    height: 50px;
    width: 50px;
}
#b-play-btn svg{
    width: 100%;
    height: 100%;
}


#s-play{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
}


#seek-bar{
    position: relative;
    display: block;
    width: 100%;
    height: 7px;
}


#m-play{
    position: relative;
    height: calc(100% - 7px);
    width: 100%;
    display: flex;
    flex-direction: row;
}
#play-btn, #pause-btn{
    position: relative;
    display: flex;
    align-items: center;
    width: auto;
    margin-left: 10px;
    cursor: pointer;
}
#play-btn svg, #pause-btn svg{
    height: 18px;
    width: 18px;
}

#time-seek-bar{
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-top: 2px;
    color: white;
    cursor: pointer;
}


#expand-btn, #volume-btn{
    display: flex;
    align-items: center;
    margin-right: 7px;
    height: 100%;
    cursor: pointer;
}
#expand-btn svg{
    height: 22px;
    width: 22px;
}
#volume-btn{
    margin-left: auto;
    margin-right: 13px;
}
#volume-btn svg{
    height: 20px;
    width: 20px;
}
#volume-btn svg path{
    fill: white;
}